/* Ensure search result links are fully clickable and styled properly */
a.no-underline {
  text-decoration: none;
  color: inherit;
  display: flex;
  width: 100%;
}

a.no-underline:visited {
  color: inherit;
}

a.no-underline:hover {
  text-decoration: none;
}
